@using System.Linq
@model OnlinePizza.Models.Dish
@*@model OnlinePizza.Models.Category*@
@inject OnlinePizza.Services.DishService _DishService
@inject OnlinePizza.Services.IngredientService _IngredientService

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<h4>Dish</h4>
<hr />
<div class="row">
    <div style="width: 265.5px; margin: auto">
        <form asp-action="Edit">
            <div class="mui-select">
                <select class="form-control" name="CategoryIngredientId">
                    @foreach (var i in _DishService.GetAllCategories())
                    {
                        <option value="@i.CategoryId">@i.Name</option>
                    }

                </select>
                </div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DishId" />
     
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input asp-for="Name" class="mdl-textfield__input" type="text"/>
                <label asp-for="Name" class="mdl-textfield__label" for="sample3">Dish name</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input asp-for="Price" class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?">
                <label asp-for="Price" class="mdl-textfield__label" for="sample4">Price</label>
                <span class="mdl-textfield__error">Input is not a number!</span>
            </div>

            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                <thead>
                    <tr>
                        <th>Lägg till</th>
                        <th style="text-align: left">Ingredient</th>
                        <th>Pris</th>
                    </tr>
                </thead>


                <tbody>
                    @foreach (var ingredient in _IngredientService.GetIngredients())
                    {
                        if (Model.DishIngredients.Any(x => x.IngredientId == ingredient.IngredientId && x.Enabled))
                        {
                            <tr>
                                <td>
                                    <label class="mdl-checkbox mdl-js-checkbox">
                                        <input type="checkbox" checked="checked" class="mdl-checkbox__input" name="IngredientBox-@ingredient.IngredientId" value="@ingredient.IngredientId">
                                        @*<span class = "mdl-checkbox__label">Married</span>*@
                                    </label>
                                </td>

                                <td asp-for="@ingredient.Name" style="text-align: left">@ingredient.Name</td>
                                <td>@ingredient.Price kr</td>
                            </tr>
                        }

                        else
                        {
                            <tr>
                                <td>
                                    <label class="mdl-checkbox mdl-js-checkbox">
                                        <input type="checkbox" class="mdl-checkbox__input" name="IngredientBox-@ingredient.IngredientId" value="@ingredient.IngredientId">
                                        @*<span class = "mdl-checkbox__label">Married</span>*@
                                    </label>
                                </td>

                                <td asp-for="@ingredient.Name" style="text-align: left">@ingredient.Name</td>
                                <td>@ingredient.Price kr</td>
                            </tr>
                        }
                        
                    }
                </tbody>
            </table>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Menu">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
