@*@model OnlinePizza.Models.Dish*@
@model System.Collections.Generic.IEnumerable<OnlinePizza.Models.Category>
@inject OnlinePizza.Services.DishService _DishService
@inject OnlinePizza.Services.IngredientService _IngredientService
@{
    ViewData["Title"] = "Meny";
}

<h2>Meny</h2>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<div class="row">

    @foreach (var category in Model)
    {
        <div class="col-md-12">
            <h2>@category.Name</h2>
        </div>

        foreach (var d in category.Dishes)
        {

            <div class="col-md-6">
                <ul class="list-group">
                    <li class="list-group-item row">
                        @if (User.IsInRole("Admin"))
                        {
                            <div class="col-md-1">
                                <a asp-controller="Carts" asp-action="AddToCart" asp-route-dishId="@d.DishId">
                                    <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
                                </a>

                            </div>

                            <div class="col-md-1">
                                <a asp-action="Edit" asp-controller="Dishes" asp-route-id="@d.DishId">
                                    <i class="fa fa-cog" aria-hidden="true"></i>
                                </a>
                                <a asp-action="Delete" asp-controller="Dishes" asp-route-id="@d.DishId">
                                    <i class="fa fa-trash" aria-hidden="true" style="color: red"></i>
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-2">
                                <a asp-controller="Carts" asp-action="AddToCart" asp-route-dishId="@d.DishId">
                                    <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
                                </a>

                            </div>
                        }
                        <div class="col-md-9">
                            <span style="width: 200px; display: inline-block"><b>@d.Name</b></span>
                            <span style="margin-left: 100px">@d.Price kr</span> <br />
                            @_IngredientService.AllIngredientsForDish(d.DishId)

                            @*@foreach (var f in d.DishIngredients)
                            {
                                @*<span>@f.Ingredient.Name</span>*@
                               
                            @*}*@
                        </div>
                        <div class="col-md-1">Bild</div>
                    </li>
                </ul>
            </div>
        }

    }

</div>
