@using Microsoft.AspNetCore.Http
@using OnlinePizza.Services
@model List<OnlinePizza.Models.CartItem>
@inject CartService CartService
@inject IngredientService IngredientService

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">

    @*@foreach (var item in CartService.GetCartItems(Context))
    {
        <tr>
            <td>
                
                @Html.DisplayFor(modelItem => item.Dish.Name)
                
            </td>
            <td>*@
                @*@Html.DisplayFor(modelItem => item.Dish.Price) kr*@
                @*@foreach (var i in item.CartItemIngredients)
                {
                    <p>@i.Ingredient.Name</p>
                }*@
              @*  @IngredientService.AllIngredientsForDish(item.DishId)*@
                
            @*</td>
            <td>
                <a asp-controller="Carts" asp-action="Delete" asp-route-id="@item.CartItemId">Remove</a>
                <a asp-controller="Carts" asp-action="Edit" asp-route-id="@item.CartItemId">Edit</a>
            </td>
        </tr>
            
    }*@
    <tbody>
    </tbody>
</table>

<div class="row">
    <div style="width: 265.5px; margin: auto">
        <form>

            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                <thead>
                <tr>
                    <th style="text-align: left">Rätt</th>
                    <th style="text-align: left">Ingredient</th>
                    <th>Pris</th>
                    <th>Åtgärd</th>
                </tr>
                </thead>


                <tbody>
                @foreach (var item in CartService.GetCartItems(Context))
                {

                        <tr>
                            <td style="text-align: left;">
                                <b >@item.Dish.Name</b>
                                
                            </td>

                                <td style="text-align: left">@foreach (var i in item.Dish.DishIngredients)
                                                             {
                                                                 @i.Ingredient.Name
                                                             }</td>    
                            <td>@item.Dish.Price kr</td>
                            <td><a asp-controller="Carts" asp-action="Delete" asp-route-id="@item.CartItemId">Remove</a></td>
                        </tr> 
                }
                </tbody>
            </table>
        </form>
    </div>
</div>
