@using Microsoft.AspNetCore.Http
@using OnlinePizza.Services
@model List<OnlinePizza.Models.CartItem>
@inject CartService CartService
@inject IngredientService IngredientService

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">

    <tbody></tbody>
</table>

<div class="row">
    <div style="width: 50%; margin: auto">
        <form>

            <table style="margin: auto"  class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                <thead>
                <tr>
                    <th style="text-align: left">Rätt</th>
                    <th style="text-align: left">Ingredient</th>
                    <th>Pris</th>
                    <th>Åtgärd</th>
                </tr>
                </thead>


                <tbody>
                @foreach (var item in CartService.GetCartItems(Context))
                {

                    <tr>
                        <td style="text-align: left;">
                            <b>@item.Dish.Name</b>

                        </td>

                        <td style="text-align: left">
                            @foreach (var i in item.CartItemIngredients.Where(x => x.Enabled))
                            {
                                @i.Ingredient.Name
                            }
                        </td>
                        <td>@item.Dish.Price kr</td>
                        <td style="text-align: center">
                            <a asp-controller="Carts" asp-action="Delete" asp-route-id="@item.CartItemId">
                                <i class="fa fa-times" aria-hidden="true" style="color: red"></i>
                            </a><br/>
                            <a asp-controller="Carts" asp-action="Edit" asp-route-id="@item.CartItemId">
                                <i class="fa fa-pencil-square-o" aria-hidden="true" style="color: green"></i>
                            </a>

                        </td>
                    </tr>
                }
                
                </tbody>
                <tfoot>
                <tr style="background-color: #c3d6f4">
                    <th style="text-align: left">Total pris:</th>
                    <th style="text-align: left"></th>
                    <th>@CartService.TotalPriceForCart(Context) kr</th>
                    <th></th>
                </tr>
                </tfoot>
            </table>
      
        </form>
    </div>
</div>
