@using Microsoft.AspNetCore.Http
@using OnlinePizza.Services
@model List<CartItem>
@inject CartService CartService
@inject IngredientService IngredientService

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">

    @foreach (var item in CartService.GetCartItems(Context))
    {
        <tr>
            <td>
                
                @Html.DisplayFor(modelItem => item.Dish.Name)
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dish.Price) kr
                @foreach (var i in item.CartItemIngredients)
                {
                    <p>@i.Ingredient.Name</p>
                }
                @IngredientService.AllIngredientsForDish(item.DishId)
                
            </td>
            <td>
                <a asp-controller="Carts" asp-action="Delete" asp-route-id="@item.CartItemId">Remove</a>
                <a asp-controller="Carts" asp-action="Edit" asp-route-id="@item.CartItemId">Edit</a>
            </td>
        </tr>
            
    }
    <tbody>
    </tbody>
</table>
